Node-RED/CSVfile_OSC.json
[
    {
        "id": "b3be81a8.f01b3",
        "type": "tab",
        "label": "CSVfile to OSC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f80b117d.21a4d",
        "type": "csv",
        "z": "b3be81a8.f01b3",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 610,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "58fd8740.370e38",
        "type": "file in",
        "z": "b3be81a8.f01b3",
        "name": "",
        "filename": "D:\\github\\sigaloud\\osc-record-riot\\catch.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "31e8505c.27e2"
            ]
        ]
    },
    {
        "id": "363c2f2e.5f95d",
        "type": "debug",
        "z": "b3be81a8.f01b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb72a9ab.aafaf8",
        "type": "inject",
        "z": "b3be81a8.f01b3",
        "name": "Start streaming",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "58fd8740.370e38"
            ]
        ]
    },
    {
        "id": "128cc940.718597",
        "type": "delay",
        "z": "b3be81a8.f01b3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "200",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "f80b117d.21a4d",
                "ee85f1d1.84df2",
                "b6a0d699.750548",
                "363c2f2e.5f95d"
            ]
        ]
    },
    {
        "id": "14b0897b.88c997",
        "type": "udp out",
        "z": "b3be81a8.f01b3",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "8888",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "ee85f1d1.84df2",
        "type": "osc",
        "z": "b3be81a8.f01b3",
        "name": "",
        "path": "/mydata/",
        "metadata": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "14b0897b.88c997"
            ]
        ]
    },
    {
        "id": "b6a0d699.750548",
        "type": "function",
        "z": "b3be81a8.f01b3",
        "name": "counter",
        "func": "var count=context.get('count') || 0;\ncount +=1;\n// msg.payload =\"count: \" + count;\nmsg.payload = count.toString();\ncontext.set('count',count);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "31e8505c.27e2",
        "type": "switch",
        "z": "b3be81a8.f01b3",
        "name": "pick dev 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/0/raw",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "128cc940.718597"
            ]
        ]
    },
    {
        "id": "43b0ccb2.a93cf4",
        "type": "comment",
        "z": "b3be81a8.f01b3",
        "name": "CSVfile to OSC",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    }
]